@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html{
    box-sizing: border-box;

}
*,
*:before,
*:after{
    box-sizing: inherit;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Roboto",sans-serif;
    color: black;
    background-color:#3DB2FF;
}
.header{
    border-bottom: solid 1px #ca2100;
    background-color:#420516;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    height: 80px;
    width: 100%;

    img{
        margin-top: 3px;
        width: 100px;
        height: 70px;

    }
    nav{
        height: 100%;
        max-width: 922px;
        display: flex;
        align-items: center;
        margin: auto;
    }
}
.content{
    display: flex;
    max-width: 922px;
    margin: auto;
}
.sidebar{
    user-select: none;
    width: 266px ;
    height: 100vh;
    padding-top:74px ;
    border-right: 1px solid #3DB2FF;
    background-color:#3DB2FF ;

    div{
        margin-bottom: 10px;
        cursor: pointer;
        padding: 15px;
        &.active{
            background-color:red;
        }
        .icon{
             margin-right: 15px;
        }
        
    }
}